@font-face {
    font-family: Playfair;
    src: url(Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    src: url(Fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(Fonts/Quicksand-VariableFont_wght.ttf);
}

:root{
    scroll-padding-top: 60px;
}

*{
    margin: 0;
    padding: 0;  
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f9f9f9;
    color: #1e2a30;
    font-family: Playfair;
}

/* Header */

header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-radius: 10px;
}

.logo{
    margin-left: 5px;
    font-size: 30px;
}

nav ul{
    display: flex;
    margin-right: 5px;
}

nav ul li{
    list-style: none;
    margin: 12px 0 0 10px;
}

.nav-link{
    text-decoration: none;
    color: #1e2a30;
    font-size: 15px;
}

.nav-link:focus{
    color: #1e90ff;
}

.nav-link:active{
    color: #1e90ff;
}

/* Home */

#home{
    text-align: center;
    width: 90%;
    margin: 20px auto 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 3px #1e90ff;
}

#introduction{
    margin: 10px 0 10px;
    font-size: 20px;
}

#name{
    color: #1e90ff;
    font-weight: bold;
}

.social-media p{
    margin-bottom: 10px;
}

.instagram{
    color: #1e90ff;
    margin-right: 10px;
    text-decoration: none;
    font-size: 25px;
}

.profile-img{
    margin-top: 40px;
}

.profile-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #1e2a30;
    box-shadow: 5px 5px 0 #1e90ff;
}

/* About */

#about-title{
    width: 130px;
    margin: 30px auto 0px;
    text-align: center;
    border-bottom: 2px solid #1e90ff;
}

.about{
    width: 90%;
    margin: 20px auto 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 3px #1e90ff;
}

.about-text{
    width: 85%;
    margin: auto;
    padding: 20px;
    background-color: #edf2f4;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Projects */

#projects-title{
    width: 130px;
    margin: 30px auto 0px;
    text-align: center;
    border-bottom: 2px solid #1e90ff;
}

.projects{
    width: 90%;
    margin: 25px auto 0;
    box-shadow: 0 0 3px #1e90ff;
    border-radius: 10px;
}

.container{
    width: 90%;
    margin: auto;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div{
    background-color: #edf2f4;
    margin: 10px auto;
    width: 95%;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}

.prjts-content img{
    width: 90%;
    height: 130px;
    margin: 30px auto 0;
    border-radius: 10px;
}

.prj-link{
    color: #1e2a30;
    text-decoration: none;
    font-weight: bold;
}

.prj-link:hover{
    color: #1e90ff;
}

.prj-link:active{
    color: #1e90ff;
}

/* Contact */

#contact-title{
    width: 150px;
    margin: 30px auto 0px;
    text-align: center;
    border-bottom: 2px solid #1e90ff;
}

.contact-section{
    width: 90%;
    margin: 25px auto 20px;
    box-shadow: 0 0 3px #1e90ff;
    border-radius: 10px;
}

.contact-grnl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.contact-logo{
    text-align: center;
}

.contact-logo img{
    width: 86%;
    height: 300px;
    border-radius: 10px;
}

.social-contact{
    width: 86%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    padding-bottom: 10px;
    background-color: #edf2f4;
    border-radius: 10px;
}

.social-contact .contacts{
    width: 280px;
    margin: 0 auto;
    line-height: 3;
    border-bottom: 2px solid #1e90ff;
}

.contacts a{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px 0 0 20px;
    text-decoration: none;
    color: #1e2a30;
}

#number{
    font-family: Arial, Helvetica, sans-serif;
}

/* Footer */

footer{
    text-align: center;
    padding: 10px;
}

/* Responsive style for Tablets (758px) */

@media (min-width: 768px) {
    #home{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .home-text, .profile-img{
        margin-bottom: 40px;
    }

    .home-text{
        padding-top: 30px;
    }

    .container{
        flex-direction: row;
        justify-content: center;
    }

    .container div{
        width: 30%;
        height: 160px;
        margin: 12px 8px;
    }

    .prjts-content{
        padding: 0 0 10px;
    }

    .prjts-content img{
        height: 100px;
    }

    .contact-grnl{
        width: 86%;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
    }
    
    .contact-logo, .social-contact{
        width: 50%;
        height: 300px;
    }

    .social-contact{
        height: 290px;
    }

    .contact-logo img{
        width: 100%;
    }
}

/* Responsive style for 1024px and wider */

@media (min-width: 1024px) {
    body{
        max-width: 80%;
        margin: 0 auto;
    }

    header{
        max-width: 100%;
    }
    
    .logo{
        font-size: 35px;
    }

    nav{
        font-size: large;
    }

    nav ul li a:hover{
        border-bottom: 2px solid #1e90ff;
    }

    #home{
        padding: 0 80px;
    }

    .about{
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .about-text{
        width: 85%;
        font-size: 18px;
    }

    .profile-img img{
        width: 300px;
        height: 300px;
    }

    .container div{
        height: 180px;
    }

    .prjts-content img{
        height: 120px;
    }

    .contact-grnl{
        width: 85%;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
    }
}