@font-face {
    font-family: Playfair;
    src: url(Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    src: url(Fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(Fonts/Quicksand-VariableFont_wght.ttf);
}

:root{
    scroll-padding-top: 60px;
}

*{
    margin: 0;
    padding: 0;  
}

body{
    background-color: #f9f9f9;
    color: #1e2a30;
    font-family: Playfair;
}

/* Header */

header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-radius: 10px;
}

.logo{
    margin-left: 5px;
    font-size: 30px;
}

nav ul{
    display: flex;
    margin-right: 5px;
}

nav ul li{
    list-style: none;
    margin: 12px 0 0 10px;
}

.nav-link{
    text-decoration: none;
    color: #1e2a30;
    font-size: 15px;
}

.nav-link:focus{
    color: #1e90ff;
}

.nav-link:active{
    color: #1e90ff;
}

/* Home */

#home{
    text-align: center;
    width: 90%;
    margin: 20px auto 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 3px #1e90ff;
}

#introduction{
    margin: 10px 0 10px;
    font-size: 20px;
}

#name{
    color: #1e90ff;
    font-weight: bold;
}

.social-media p{
    margin-bottom: 10px;
}

.instagram{
    color: #1e90ff;
    margin-right: 10px;
    text-decoration: none;
    font-size: 25px;
}

.profile-img{
    margin-top: 40px;
}

.profile-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #1e2a30;
    box-shadow: 5px 5px 0 #1e90ff;
}

/* About */

#about{
    width: 130px;
    margin: 30px auto 0px;
    text-align: center;
    border-bottom: 2px solid #1e90ff;
}

.about{
    width: 90%;
    margin: 20px auto 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 3px #1e90ff;
}

.about-text{
    width: 85%;
    margin: 5px auto;
    background-color: #caf0f8;
    border-radius: 10px;
}

dl{
    padding: 10px;
}

dt{
    font-weight: bold;
}

dd{
    border-bottom: 2px solid #1e90ff;
    margin-bottom: 10px;
}

.about-image{
    text-align: center;
}

.about-image img{
    width: 300px;
    height: 320px;
    border-radius: 10px;
}